.peppermint{
    background-image:url(https://cdn.shopify.com/s/files/1/2918/4630/products/Image_1_2be5a982-6fcb-4b19-b07e-7cc634239e1a.jpg?v=1527364326)
}
#herbpic1{
    height: 200px;
}
#herbpic2{
    height: 200px
}
#lavender{
    max-width: 200px
}
#Freedomblooddetox{
    height: 200px
}